@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.bg-slide-in {
  animation: slideIn 1s forwards;
}
@layer utilities {
  .clip-path-custom {
    clip-path: polygon(0 0, 100% 0, 100% 1500%, 0% 50%);
  }
}
